In [1]:
import spacy

In [7]:
nlp= spacy.blank('en')
doc = nlp('''"Let's go to N.Y.!"''')

for token in doc:
    print(token)

"
Let
's
go
to
N.Y.
!
"

In [2]:
nlp= spacy.blank('en')
doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")

In [65]:
for token in doc:
    print(token)

Tony
gave
two
$
to
Peter
,
Bruce
gave
500
€
to
Steve

In [69]:
type(nlp)

spacy.lang.en.English

In [71]:
type(doc[1:5])

spacy.tokens.span.Span

In [12]:
doc = nlp("Tony gave two $ to Peter.")

token_0 = doc[0]
token_0

Tony

In [14]:
token_2 = doc[2]
token_2.text

token_2.like_num

True

In [15]:
token_3 = doc[3]
token_3.text

token_3.is_currency

True

In [18]:
with open('student.txt') as f:
    text = f.readlines()
    
text = ' '.join(text)

text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com'

In [20]:
doc = nlp(text)
email = []
for i in doc:
    if i.like_email:
        email.append(i)
email

[virat@kohli.com, maria@sharapova.com, serena@williams.com, joe@root.com]

In [49]:
nlp1 = spacy.blank('hi')
doc = nlp1('उत्तराखंड के केदारनाथ में श्रद्धालुओं को ले जा रहे एक हेलिकाप्टर के दुर्घटनाग्रस्त हो जाने से सात लोगों की मौत हो गई।')

for token in doc:
    print(token)

उत्तराखंड
के
केदारनाथ
में
श्रद्धालुओं
को
ले
जा
रहे
एक
हेलिकाप्टर
के
दुर्घटनाग्रस्त
हो
जाने
से
सात
लोगों
की
मौत
हो
गई
।

In [50]:
from spacy.symbols import ORTH

nlp.tokenizer.add_special_case("gimme",
      [{ORTH: 'gim'},
      {ORTH: 'me'}
])

In [51]:
doc = nlp('gimme double cheese extra large healthy pizza')
tokens = [token.text for token in doc]
tokens

['gim', 'me', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [55]:
# Excercise

nlp= spacy.blank('en')
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, 
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

# TODO: Write code here
urls = []
doc = nlp(text)
for i in doc:
    if i.like_url:
        urls.append(i)
        
        
urls

[http://www.data.gov/,
 http://www.science,
 http://data.gov.uk/.,
 http://www3.norc.org/gss+website/,
 http://www.europeansocialsurvey.org/.]

In [63]:
#(2) Extract all money transaction from below sentence along with currency. Output should be,
#two $

#500 €

transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"
doc = nlp(transactions)

for token in doc:
    if token.is_currency:
        print(str(doc[token.i -1 ]) +' ' + str(doc[token.i]))

two $
500 €