In [ ]:
#Write a Python program to find the sum of all elements in a list using loop.
#Input:- [10,20,30,40]
list_1 = [10,20,30,40]
total = 0
for i in list_1:
   total+=i
print(total)
#Output:- 100

Enter comma separated elements: 10, 20, 30, 40
100

In [ ]:
#Write a Python program to find the multiplication of all elements in a list using loop.
#Input:- [10,20,30,40]
list_2 = [10,20,30,40]
total = 1
for i in list_2:
   total*=i
print(total) 
#Output:- 240000

240000

In [ ]:
#Write a Python program to find the largest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
list_3 = [10,100,2321, 1,200,2]
max_number = list_3[0]
for i in list_3[1:]:
   if i > max_number:
     max_number=i
print(max_number) 
#Output:- 2321

Enter comma separated elements: 10 , 100 , 2321 , 1 , 200 , 2
2321

In [ ]:
#Write a Python program to find the smallest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
list_4 = [10,100,2321, 1,200,2]
min_number = list_4[0]
for i in list_4[1:]:
   if i < min_number:
     min_number=i
print(min_number) 
#Output:- 1

1

In [ ]:
#Write a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
list_5 = ['ab', 'abc', 'aba', 'xyz', '1991']
count=0
for ele in list_5:
  ele = ele.strip()
  if len(ele) > 2:
     ele1 = ele[::-1]
     if ele1 == ele:
        count+=1

print(count)   
#Output:- 2

Enter comma separated elements: ab , abc , aba , xyx , 1991
3

In [ ]:
#Write a Python program to sort a list in ascending order using loop.
#Input:- [100,10,1,298,65,483,49876,2,80,9,9213]
#Output:- [1,2,9,10,65,80,100,298,483,9213,49876]
list_6 = [100,10,1,298,65,483,49876,2,80,9,9213]
output = []
for i in range(len(list_6)):
  j=0
  while j<i:
   if list_6[i] < list_6[j]:
      temp = list_6[j]
      list_6[j] = list_6[i]
      list_6[i] = temp
   j+=1

print(list_6)

Enter comma separated elements: 100,10,1,298,65,483,49876, 2, 80, 9, 9213
[1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [ ]:
#Write a Python program to get a sorted list in increasing order of last element in each tuple in a given list using loop.
#Input:- [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
list_7 = [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
for i in range(len(list_7)):
  j=0
  while j<i:
   if list_7[i][1] < list_7[j][1]:
      temp = list_7[j]
      list_7[j] = list_7[i]
      list_7[i] = temp
   j+=1

print(list_7)
  
#output:- [(9,1),(2,3),(5,4),(5,5),(7,6),(5,9)]

[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [ ]:
#Write a Python program to remove fuplicate element from a list using loop.
#Input:- [10,1,11,1,29,876,768,10,11,1,92,29,876]
list_8 = [10,1,11,1,29,876,768,10,11,1,92,29,876]
out=[]
for ele in list_8:
   if ele not in out:
     out.append(ele)
print(out)
#Output:- [10,1,11,29,876,768,92]

Enter comma separated elements: 10,1,11,1,29,876,768,10,11,1,92,29,876
[10, 1, 11, 29, 876, 768, 92]

In [ ]:
#Write a Python program to check a list is empty or not?
#Input:- []
#Output:- List is empty
#Input:- [10,20,30]
#Output:- List is not empty
list_9 = [items for items in input('Enter comma separated elements: ').split(',')]
if len(list_9) > 0  and '' not in list_9 :
   print('List is not empty')
else:
    print('List is empty')

Enter comma separated elements: 10,
List is not empty

In [ ]:
#Write a Python program to copy a list using loop.
#inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
inp_lst =[10,10.20,10+20j, 'Python', [10,20], (10,20)]
out_lst = []
for items in inp_lst:
    out_lst.append(items)
print(out_lst)
#out_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

[10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [ ]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
str_1 = 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
out = []
for elements in str_1.split():
    if len(elements) >=4 and elements not in out:
       out.append(elements)
print(out)
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
#Note:- Duplicate should be avoided.

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [ ]:
#Write a Python program which takes two list as input and returns True if they have at least 3 common elements.
#Output:- True
def check_common(inp_lst1, inp_lst2):
    count = 0
    for lis1_ele in inp_lst1[:]:
        if count>=3:
          return 'True'
        if lis1_ele in inp_lst2:
            count +=1

inp_lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
inp_lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
print(check_common(inp_lst1, inp_lst2))

True

In [ ]:
#Write a Python program to create a 4X4 2D matrix with below elements using loop and list comprehension both.
#Output:- [[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]]
print("Using loop")
out=[]
for i in range(4):
    for j in range(4):
       li.append(j * i)
    out.append(li)
    li=[]
print(out)

print("Using List Comphrehension")
out = [[j *i  for j in range(4)] for i in range(4)]
print(out)

Using loop
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]
Using List Comphrehension
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

In [ ]:
#Write a Python program to create a 3X4X6 3D matrix wiith below elements using loop
out=[]
for i in range(3):
    li=[]
    for j in range(4):
       li.append([i * j] * 6)
    out.append(li)
    
print(out)
#Output:- 
# [
#     [[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]],
#     [[0,0,0,0,0,0],[1,1,1,1,1,1],[2,2,2,2,2,2],[3,3,3,3,3,3]],
#     [[0,0,0,0,0,0],[2,2,2,2,2,2],[4,4,4,4,4,4],[6,6,6,6,6,6]]
# ]

[[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1], [2, 2, 2, 2, 2, 2], [3, 3, 3, 3, 3, 3]], [[0, 0, 0, 0, 0, 0], [2, 2, 2, 2, 2, 2], [4, 4, 4, 4, 4, 4], [6, 6, 6, 6, 6, 6]]]

In [ ]:
#Write a Python program which takes a list of numbers as input and prints a new list after removing even numbers from it.
#Input:- [10,21,22,98,87,45,33,1,2,100]
list_12 = [10,21,22,98,87,45,33,1,2,100]
out=[]
for ele in list_12:
    if ele % 2 != 0:
       out.append(ele)
print(out)
#Output:- [21,87,45,33,1]

Enter comma separated elements: 10,21,22,98,87,45,33,1,2,100
[21, 87, 45, 33, 1]

In [ ]:
#Write a Python program which takes a list from the user and prints it after reshuffling the elements of the list.
#Input:- [10,21,22,98,87,45,33,1,2,100]
input_list = [int(i) for i in input().split(',')]
#Without Using dictionary
random_index = int(len(input_list)/2)
out = []
for i in range(1, len(input_list)+1):
    out.append(input_list[random_index - i])
print(out)

#Using Dictionary
d = {}
for i in range(len(input_list)):
    d.update({i: input_list[i]})
print([values for values in d.values()])
    
#Output:- [1,87,21,10,33,2,100,45,98,22] (It may be any randon list but with same elements)

10,21,22,98,87,45,33,1,2,100
[87, 98, 22, 21, 10, 100, 2, 1, 33, 45]
[10, 21, 22, 98, 87, 45, 33, 1, 2, 100]